@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="img-fluid img-thumbnail " src="~/images/children-nursery-school-cartoon-vector_33099-1319.jpg" />
</div>
